Repository dahegyi/hydra-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

linting
  .eslintrc
  .husky/pre-commit
  index.html
  package-lock.json
  package.json
  src/App.vue
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/components/SettingsModal.vue
  src/components/ThreeModal.vue
  src/components/WelcomeModal.vue
  src/constants.js
  src/external/hydra-synth.min.js
  src/main.js
  src/pages/GuiPage.vue
  src/pages/VisualizerPage.vue
  src/style.scss
  src/utils/object-utils.js
  vite.config.js
Due: eslint --fix, stylelint --fix

changed alias
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/pages/GuiPage.vue
  src/store/actions.js
  src/store/mutations.js
  src/utils/object-utils.js
  vite.config.js
Due: eslint --fix, stylelint --fix

added resolve extensions
  src/main.js
  src/pages/GuiPage.vue
  vite.config.js
Due: eslint --fix, stylelint --fix

config wizardry
  vite.config.js
Due: eslint --fix

no trackers please
  index.html
Due: none

deleted extensions.json
  .vscode/extensions.json
Due: none

loads of cleanup for state management, bugfixes, added flowchart
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/components/SettingsModal.vue
  src/pages/GuiPage.vue
  src/store/actions.js
  src/store/flowchart.png
  src/store/index.js
  src/store/mutations.js
  src/utils/index.js
Due: eslint --fix, stylelint --fix

cleanup, bugfix for undo/redo, undo/redo not called when text input is in focus
  src/components/NestedDraggable.vue
  src/constants.js
  src/pages/GuiPage.vue
  src/store/actions.js
  src/store/getters.js
  src/store/index.js
  src/store/mutations.js
Due: eslint --fix, stylelint --fix

fix for setOutput
  src/store/actions.js
Due: eslint --fix

fix for favicon
  index.html
  public/favicon.ico
Due: none

added handleChange for select elements
  src/components/NestedDraggable.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added disabled class for blocks that can't have more than 1 child
  src/components/NavigationPanel.vue
Due: eslint --fix, stylelint --fix

removed parsing from initial blocks
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added enter event
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

set canvas image rendering to auto
  src/App.vue
Due: eslint --fix, stylelint --fix

updated welcome modal content & closing logic
  src/components/WelcomeModal.vue
  src/constants.js
  src/pages/GuiPage.vue
  src/style.scss
Due: eslint --fix, stylelint --fix

updated package.json, readme, github actions
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-hosting-pull-request.yml
  README.md
  package.json
Due: none

added license
  LICENSE
Due: none

changed toastify design
  src/components/NavigationPanel.vue
  src/pages/GuiPage.vue
  src/style.scss
  src/utils/index.js
Due: eslint --fix, stylelint --fix

updated parent block design
  src/components/NestedDraggable.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added lib: leaderline
  package-lock.json
  package.json
Due: none

dirty: added philips hue support
  src/components/NavigationPanel.vue
  src/components/SettingsModal.vue
  src/store/actions.js
  src/store/index.js
  src/store/mutations.js
  src/style.scss
  src/utils/index.js
Due: eslint --fix, stylelint --fix

unfinished: beat counter for transition
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

design changes for draggable
  src/components/NestedDraggable.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added ParentBlock component
  src/components/ParentBlock.vue
  src/pages/GuiPage.vue
  src/utils/vuex-utils.js
Due: eslint --fix, stylelint --fix

* border-box, fixes for modals on small screens
  src/components/NavigationPanel.vue
  src/components/SettingsModal.vue
  src/components/ThreeModal.vue
  src/components/WelcomeModal.vue
  src/style.scss
Due: eslint --fix, stylelint --fix

added setResolution for mounted
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

minor cleanup in App.vue
  src/App.vue
Due: eslint --fix, stylelint --fix

fix for initial blocks
  src/constants.js
Due: eslint --fix

updated welcome modal styling
  src/components/WelcomeModal.vue
  src/style.scss
Due: eslint --fix, stylelint --fix

add button visibility in NestedDraggable
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

updated modal designs
  src/components/SettingsModal.vue
  src/components/ThreeModal.vue
  src/components/WelcomeModal.vue
  src/style.scss
Due: eslint --fix, stylelint --fix

AddBlockModal component, modal styling
  src/components/AddBlockModal.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/pages/GuiPage.vue
  src/style.scss
Due: eslint --fix, stylelint --fix

updated dragging logic to fit the new design
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

updated the order of some effects in constants
  src/constants.js
Due: eslint --fix

refactored NavigationPanel, retired add effect button & dropdown
  src/components/AddBlockModal.vue
  src/components/NavigationPanel.vue
  src/pages/GuiPage.vue
  src/style.scss
Due: eslint --fix, stylelint --fix

cleanup, variables.scss, bugfixes for new ui
  src/assets/styles/main.scss
  src/assets/styles/variables.scss
  src/components/AddBlockModal.vue
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/main.js
  src/store/actions.js
Due: eslint --fix, stylelint --fix

escape to close new source modal
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

more stylish
  src/assets/styles/main.scss
  src/components/AddBlockModal.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,vue}
  stylelint --fix: any of: **/*.{css,scss,vue}
