Repository dahegyi/hydra-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

bugfix for scrolled parent block positioning
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

more styling
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

why was this /16?
  src/App.vue
Due: eslint --fix, stylelint --fix

added lib: popperjs
  package-lock.json
  package.json
Due: none

added poppers as info modals + unfinished canvas content
  src/App.vue
  src/assets/styles/main.scss
  src/assets/styles/variables.scss
  src/components/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

updated constants: removed param names, added param mapping
  src/constants.js
Due: eslint --fix

unfinished: moved beat counter to NavigationPanel component
  src/components/NavigationPanel.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added param mapping, changed initial blocks to match new format
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/constants.js
  src/utils/object-utils.js
Due: eslint --fix, stylelint --fix

fix for param display
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

removed unnecessary padding
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

fix for no param obejcts
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

added info mappings, info poppers showing actual output
  src/components/AddBlockModal.vue
  src/constants.js
  src/store/actions.js
  src/store/index.js
Due: eslint --fix, stylelint --fix

added drag-handle
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

styling fixes in draggable & parent block, added drag-handle
  src/assets/styles/main.scss
  src/components/AddBlockModal.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/utils/object-utils.js
Due: eslint --fix, stylelint --fix

fix for webgl context lost in add block modal
  src/components/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

fix in flatten
  src/utils/object-utils.js
Due: eslint --fix

fix for sass division
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

added touchscreen dragging
  src/components/ParentBlock.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added -webkit-user-select for missing places
  src/assets/styles/main.scss
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

renamed handleMouseEnter to showInfo
  src/components/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

added preview for initImage, initVideo, initCam
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

cleanup for showToast
  src/store/actions.js
  src/utils/index.js
Due: eslint --fix

finalized external previews
  src/assets/eye-off.svg
  src/assets/eye-show.svg
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

added Maptastic, set background color to black
  index.html
  src/assets/styles/main.scss
  src/external/maptastic.min.js
  src/pages/VisualizerPage.vue
Due: eslint --fix, stylelint --fix

finished canvas content for poppers
  src/components/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

styling for poppers
  src/components/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

fix for touchscreen parent block header events
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

temporarily disabled send-on-beat
  src/components/NavigationPanel.vue
Due: eslint --fix, stylelint --fix

added closing animation for modals
  src/assets/styles/main.scss
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

rewritten for loops with .entries() format
  src/components/AddBlockModal.vue
  src/utils/object-utils.js
Due: eslint --fix, stylelint --fix

changed update logic for initScreen
  src/store/actions.js
Due: eslint --fix

removed activeCodeBlock
  src/store/actions.js
Due: eslint --fix

updated welcome modal
  src/components/WelcomeModal.vue
  src/constants.js
Due: eslint --fix, stylelint --fix

fix in add block modal constants
  src/components/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

updated package.json and readme
  README.md
  package.json
Due: none

fix in flattening
  src/utils/object-utils.js
Due: eslint --fix

added new initial block
  src/constants.js
Due: eslint --fix

updated welcomemodal again
  src/components/WelcomeModal.vue
Due: eslint --fix, stylelint --fix

build fixes
  index.html
  src/App.vue
  src/components/AddBlockModal.vue
  src/components/WelcomeModal.vue
  src/pages/VisualizerPage.vue
  src/utils/object-utils.js
Due: eslint --fix, stylelint --fix

updated readme
  README.md
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,vue}
  stylelint --fix: any of: **/*.{css,scss,vue}
