Repository dahegyi/hydra-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

added gamecontroller support
  index.html
  package-lock.json
  package.json
  src/external/gamecontroller.min.js
  src/main.js
  src/utils/gamecontroller-utils.js
Due: eslint --fix

enabled maptastic, removed unnecessary imports
  src/components/AddBlockModal.vue
  src/pages/VisualizerPage.vue
Due: eslint --fix, stylelint --fix

rewrote NestedDraggable component to compostion api
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

changed alias (~ => @)
  src/components/AddBlockModal.vue
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/components/WelcomeModal.vue
  src/pages/GuiPage.vue
  src/store/actions.js
  src/store/mutations.js
  src/utils/object-utils.js
  vite.config.js
Due: eslint --fix, stylelint --fix

added some 3D functionality basics
  src/App.vue
  src/components/AddBlockModal.vue
  src/components/ParentBlock.vue
  src/components/ThreeModal.vue
  src/constants.js
  src/pages/GuiPage.vue
  src/store/actions.js
  src/store/mutations.js
Due: eslint --fix, stylelint --fix

removed preview poppers
  package.json
  src/components/AddBlockModal.vue
  src/constants.js
  src/utils/object-utils.js
Due: eslint --fix, stylelint --fix

migrated vuex to pinia
  package.json
  src/components/AddBlockModal.vue
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/main.js
  src/pages/GuiPage.vue
  src/stores/hydra.js
  src/utils/pinia-utils.js
  src/utils/vuex-utils.js
Due: eslint --fix, stylelint --fix

removed vuex 💃
  src/store/actions.js
  src/store/flowchart.png
  src/store/getters.js
  src/store/index.js
  src/store/mutations.js
Due: eslint --fix

removed persistedstate plugin import
  src/main.js
Due: eslint --fix

modals cleanup 💅
  src/assets/styles/main.scss
  src/components/SettingsModal.vue
  src/components/ThreeModal.vue
  src/components/WelcomeModal.vue
  src/components/modal/AddBlockModal.vue
  src/components/modal/BaseModal.vue
  src/components/modal/SettingsModal.vue
  src/components/modal/ThreeModal.vue
  src/components/modal/WelcomeModal.vue
  src/constants.js
Due: eslint --fix, stylelint --fix

GuiPage modals cleanup
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

revert new save logic
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

cleanup localStorage stuff
  src/components/modal/WelcomeModal.vue
  src/pages/GuiPage.vue
  src/stores/hydra.js
  src/utils/index.js
Due: eslint --fix, stylelint --fix

removed macro imports
  src/components/modal/BaseModal.vue
  src/components/modal/ThreeModal.vue
Due: eslint --fix, stylelint --fix

changed NavigtationPanel to composition api
  src/components/NavigationPanel.vue
Due: eslint --fix, stylelint --fix

changed GuiPage to composition api
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

modal cleanup
  src/components/modal/AddBlockModal.vue
  src/components/modal/SettingsModal.vue
  src/components/modal/ThreeModal.vue
Due: eslint --fix, stylelint --fix

addBlockModal cleanup
  src/components/modal/AddBlockModal.vue
Due: eslint --fix, stylelint --fix

fix BaseModal switch
  src/components/modal/BaseModal.vue
Due: eslint --fix, stylelint --fix

update border styles
  src/assets/styles/variables.scss
Due: stylelint --fix

cleanup GuiPage
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

more cleanup
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/components/modal/SettingsModal.vue
  src/utils/pinia-utils.js
Due: eslint --fix, stylelint --fix

fix modulateKaleid inputs
  src/constants.js
Due: eslint --fix

more GuiPage cleanup
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

new focus & deletChild logic, copy-paste without cut
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/pages/GuiPage.vue
  src/stores/hydra.js
Due: eslint --fix, stylelint --fix

fix: added block type check to copy paste
  src/stores/hydra.js
Due: eslint --fix

sass import changed to use
  src/assets/styles/main.scss
  src/components/NavigationPanel.vue
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/components/modal/AddBlockModal.vue
  src/components/modal/BaseModal.vue
Due: eslint --fix, stylelint --fix

added hydration mismatch flag to vite config
  vite.config.js
Due: eslint --fix

added cutting logic
  src/components/NestedDraggable.vue
  src/pages/GuiPage.vue
  src/stores/hydra.js
Due: eslint --fix, stylelint --fix

removed maptastic
  index.html
  src/external/maptastic.min.js
  src/pages/VisualizerPage.vue
Due: eslint --fix, stylelint --fix

updated readme & package.json
  README.md
  package-lock.json
  package.json
Due: none

added shadcn
  .eslintrc
  .prettierignore
  components.json
  jsconfig.json
  package-lock.json
  package.json
  src/assets/index.css
  src/main.js
  src/utils/index.js
  tailwind.config.js
  vite.config.js
Due: eslint --fix, stylelint --fix

new menubar
  src/assets/styles/main.scss
  src/components/NavigationPanel.vue
  src/components/modal/WelcomeModal.vue
  src/components/ui/button/Button.vue
  src/components/ui/button/index.js
  src/components/ui/menubar/Menubar.vue
  src/components/ui/menubar/MenubarCheckboxItem.vue
  src/components/ui/menubar/MenubarContent.vue
  src/components/ui/menubar/MenubarGroup.vue
  src/components/ui/menubar/MenubarItem.vue
  src/components/ui/menubar/MenubarLabel.vue
  src/components/ui/menubar/MenubarMenu.vue
  src/components/ui/menubar/MenubarRadioGroup.vue
  src/components/ui/menubar/MenubarRadioItem.vue
  src/components/ui/menubar/MenubarSeparator.vue
  src/components/ui/menubar/MenubarShortcut.vue
  src/components/ui/menubar/MenubarSub.vue
  src/components/ui/menubar/MenubarSubContent.vue
  src/components/ui/menubar/MenubarSubTrigger.vue
  src/components/ui/menubar/MenubarTrigger.vue
  src/components/ui/menubar/index.js
  src/components/ui/toast/Toast.vue
  src/components/ui/toast/ToastAction.vue
  src/components/ui/toast/ToastClose.vue
  src/components/ui/toast/ToastDescription.vue
  src/components/ui/toast/ToastProvider.vue
  src/components/ui/toast/ToastTitle.vue
  src/components/ui/toast/ToastViewport.vue
  src/components/ui/toast/Toaster.vue
  src/components/ui/toast/index.js
  src/components/ui/toast/use-toast.js
  src/constants.js
  src/pages/GuiPage.vue
  src/stores/hydra.js
Due: eslint --fix, stylelint --fix

updated settings modal to shadcn
  package-lock.json
  package.json
  src/assets/styles/main.scss
  src/components/modal/BaseModal.vue
  src/components/modal/SettingsModal.vue
  src/components/ui/label/Label.vue
  src/components/ui/label/index.js
  src/components/ui/number-field/NumberField.vue
  src/components/ui/number-field/NumberFieldContent.vue
  src/components/ui/number-field/NumberFieldDecrement.vue
  src/components/ui/number-field/NumberFieldIncrement.vue
  src/components/ui/number-field/NumberFieldInput.vue
  src/components/ui/number-field/index.js
  src/components/ui/slider/Slider.vue
  src/components/ui/slider/index.js
Due: eslint --fix, stylelint --fix

removed 3D from source list
  src/constants.js
Due: eslint --fix

updated parent block to shadcn
  src/components/ParentBlock.vue
  src/components/ui/input/Input.vue
  src/components/ui/input/index.js
  src/components/ui/select/Select.vue
  src/components/ui/select/SelectContent.vue
  src/components/ui/select/SelectGroup.vue
  src/components/ui/select/SelectItem.vue
  src/components/ui/select/SelectItemText.vue
  src/components/ui/select/SelectLabel.vue
  src/components/ui/select/SelectScrollDownButton.vue
  src/components/ui/select/SelectScrollUpButton.vue
  src/components/ui/select/SelectSeparator.vue
  src/components/ui/select/SelectTrigger.vue
  src/components/ui/select/SelectValue.vue
  src/components/ui/select/index.js
Due: eslint --fix, stylelint --fix

updated draggable block to shadcn + added FiraCode + styling
  src/assets/FiraCode-Regular.woff2
  src/assets/index.css
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/components/ui/input/Input.vue
  src/components/ui/select/SelectTrigger.vue
Due: eslint --fix, stylelint --fix

added await for canvas
  src/stores/hydra.js
Due: eslint --fix

updated toast to shadcn, removed toastify
  package.json
  src/assets/styles/main.scss
  src/components/NavigationPanel.vue
  src/components/ParentBlock.vue
  src/stores/hydra.js
  src/utils/index.js
Due: eslint --fix, stylelint --fix

updated modal closing logic & removed text from welcome modal
  src/components/modal/BaseModal.vue
  src/components/modal/WelcomeModal.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: **/*.{js,vue}
  stylelint --fix: any of: **/*.{css,scss,vue}
