Repository dahegyi/hydra-plus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,vue}": ["eslint --fix"],
  "**/*.{css,scss,vue}": ["stylelint --fix"]
}

updated welcome modal
  src/assets/styles/main.scss
  src/components/modal/BaseModal.vue
  src/components/modal/WelcomeModal.vue
  src/constants.js
Due: eslint --fix, stylelint --fix

closed welcome modal
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

updated navigation
  src/components/NavigationPanel.vue
Due: eslint --fix, stylelint --fix

fixes, styling
  src/assets/index.css
  src/assets/styles/main.scss
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/main.js
Due: eslint --fix, stylelint --fix

added context menu
  src/components/ui/context-menu/ContextMenu.vue
  src/components/ui/context-menu/ContextMenuCheckboxItem.vue
  src/components/ui/context-menu/ContextMenuContent.vue
  src/components/ui/context-menu/ContextMenuGroup.vue
  src/components/ui/context-menu/ContextMenuItem.vue
  src/components/ui/context-menu/ContextMenuLabel.vue
  src/components/ui/context-menu/ContextMenuPortal.vue
  src/components/ui/context-menu/ContextMenuRadioGroup.vue
  src/components/ui/context-menu/ContextMenuRadioItem.vue
  src/components/ui/context-menu/ContextMenuSeparator.vue
  src/components/ui/context-menu/ContextMenuShortcut.vue
  src/components/ui/context-menu/ContextMenuSub.vue
  src/components/ui/context-menu/ContextMenuSubContent.vue
  src/components/ui/context-menu/ContextMenuSubTrigger.vue
  src/components/ui/context-menu/ContextMenuTrigger.vue
  src/components/ui/context-menu/index.js
Due: eslint --fix, stylelint --fix

added context menu on playground
  src/components/NavigationPanel.vue
  src/main.js
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

removed leader-line
  package-lock.json
  package.json
Due: none

fix for gui paste check
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added context menu in parent block & draggable
  src/components/NestedDraggable.vue
  src/components/ParentBlock.vue
  src/components/modal/AddBlockModal.vue
  src/components/ui/select/SelectTrigger.vue
  src/stores/hydra.js
Due: eslint --fix, stylelint --fix

removed unncessary props specification
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix

added hydra code export + styling for settings modal
  src/components/modal/SettingsModal.vue
Due: eslint --fix, stylelint --fix

removed gamecontroller.js for build
  index.html
  src/main.js
Due: eslint --fix

updated readme
  README.md
Due: none

added cursor conscious pasting logic
  src/main.js
  src/stores/hydra.js
Due: eslint --fix

added protection for parent block overdragging
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added relative z index & improved parent focus
  src/components/NavigationPanel.vue
  src/components/ParentBlock.vue
  src/components/modal/BaseModal.vue
  src/constants.js
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added auto-animate
  package-lock.json
  package.json
  src/components/NestedDraggable.vue
  src/main.js
Due: eslint --fix, stylelint --fix

animation cleanup + added enable animations switch
  src/assets/index.css
  src/components/NestedDraggable.vue
  src/components/modal/BaseModal.vue
  src/components/modal/SettingsModal.vue
  src/components/ui/switch/Switch.vue
  src/components/ui/switch/index.js
  src/pages/GuiPage.vue
  src/stores/app.js
  src/stores/hydra.js
  src/utils/index.js
Due: eslint --fix, stylelint --fix

added animation for nav
  src/components/NavigationPanel.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

removed async update
  src/stores/hydra.js
Due: eslint --fix

checking if animations are enabled in mounted
  src/App.vue
Due: eslint --fix, stylelint --fix

fix: added check for window height & width
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

added overscroll prevention
  src/assets/index.css
Due: stylelint --fix

changed parent block colors to tailwind palette + fixed focus bug
  src/assets/styles/variables.scss
  src/components/ParentBlock.vue
  src/pages/GuiPage.vue
Due: eslint --fix, stylelint --fix

formatting
  src/components/ParentBlock.vue
  src/components/modal/BaseModal.vue
Due: eslint --fix, stylelint --fix

removed auto-animate + raised version to 0.9.1
  package-lock.json
  package.json
  src/main.js
Due: eslint --fix

cleanup ParentBlock
  src/components/ParentBlock.vue
Due: eslint --fix, stylelint --fix

added crc32 + unique IDs for nested labels
  package-lock.json
  package.json
  src/components/NestedDraggable.vue
  src/utils/index.js
Due: eslint --fix, stylelint --fix

fix unfocus inputs in nested blocks
  src/components/NestedDraggable.vue
Due: eslint --fix, stylelint --fix
